# Data Science Tools and Ecosysytem

# In this notebook, Data Science Tools and Ecosystem

**Objectives:**
* R
* SQL
* Python

Some of the popular languages that Data Scientist use are:
R
SQL
Python

Some of the commonly used libraries used by DMatata Scientists include:
Matplotlib, NumPy, SciPy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Rstudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [24]:
# This is a simple arithmetic experession to multiply then add integers

In [26]:
(3*4) + 5

17

In [28]:
# This will covert 200 minutes to hours by dividing by 60

In [30]:
200/60

3.3333333333333335

## Author 
Blake